@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@theme {
  --font-body: "JetBrains Mono", monospace;
  --color-light: #f3f6f3;
  --color-mid: #4e90f5;
  --color-accent: #94c000;
}
.glass {
  @apply bg-gray-600/50 rounded-md bg-clip-padding backdrop-filter backdrop-blur-lg;
}
