@import "tailwindcss";

@font-face {
  font-family: "Coolvetica";
  src: url("/Coolvetica.otf");
}
@font-face {
  font-family: "Creato";
  src: url("/Creato.otf");
}

@theme {
  --font-head: "Coolvetica", monospace;
  --font-body: "Creato", monospace;
  --color-light: #f3f6f3;
  --color-dark: #000000;
}
::-webkit-scrollbar {
  width: 0;
}
